@{
    ViewBag.Title = "Связаться";
}

<h3>@ViewBag.Message</h3>

<address>
    &quot;Кредтование&quot;<br />
    г. Санкт-Петербург, Невский проспект, д. 3<br />
    <abbr title="Phone">Телефон: 123-45-67</abbr>
</address>

<address>
    <strong>Электронная почта:</strong>   <a href="mailto:credits@gqmail.com">credits@gqmail.com</a><br />
</address>